<?php
define('DB_NAME', '{{ dbname }}');
define('DB_USER', '{{ dbuser }}');
define('DB_PASSWORD', '{{ dbpassword }}');
define('DB_HOST', '{{ dbhost }}');
define('DB_COLLATE', '{{ dbcollate }}');
define('WP_CONTENT_DIR', '{{ wpcontentdir }}');
?>
